.cronometer{
    position:absolute;
    text-align:center;
    width:200px;
    height:100px;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px;
} 
.button{display:inline-block;width:32px;height:32px;position:relative;}
#hms{
    height:68px;
    padding:5px 0;
    font-size:50px;
    color:#000;
    font-family: alarm;  
 }
    .start{background:url(start.png) 0 0 not-repeated;}
    .stop{background:url(pause.png) 0 0 not-repeated;}
    .restart{background:url(delete.png)0 0 not-repeated;}
